/* HEADER*/
* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

#header {
    width: 100%;
    height: 110px;
    background-color: #000;
    opacity: 0.9;
    color: #ffffff;
}
#header #navbar {
    width: 735px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0 13px;
}
#header #navber nav {
    font-size: 12px;
    text-decoration: none;
}

#header nav ul {
    position: absolute;
    right: 20px;
    bottom: 0;
    list-style: none;
}

#header nav ul li {
    display: inline-block;
    padding: 7px 3px 13px 4px;
}

#header nav ul li a {
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
}

#header nav ul li #active {
    color: #FF0000;
}

#header nav ul li a:hover {
    text-decoration: underline;
}

/* FOOTER */

#footer {
    height: 60px;
    background-color: #202020;
    padding: 1px 0;
    display: block;
}

#footer #navbar {
    height: 50%;
    font-family: "Arial";
    padding: 3px 0 0px 0;
}

#footer #navbar nav {
    display: flex;
    line-height: 30px;
    font-size: 13px;
    font-weight: 300;
}

#footer #navbar nav ul {
    margin: 0 auto;
    list-style: none;
}

#footer #navbar nav ul li {
    display: inline;
    padding: 0 7px;
    border-right: 1px solid #a19f9f;
    font-size: 12px;
}

#footer #navbar nav ul li a {
    color: #ccc;
    text-decoration: none;
}

#footer #navbar nav ul li a:hover {
    text-decoration: underline;
}

#footer #navbar nav ul #none_border {
    border-right: none;
}

#footer #service {
    height: 50%;
    display: flex;
}

#footer #service a {
    text-decoration: none;
    color: #ccc;
    margin: 0 auto;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 0.5px;
}

#footer #service a:hover {
    text-decoration: underline;
}